* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#button-controls {
  display: flex;
  flex-direction: column;
  border: 1px solid #000;
  max-width: 700px;
}

.calc-display {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background: gray;
  height: 100px;
  color: #fff;
  font-weight: bold;
  padding: 10px;
  font-size: 30px;
}

.button-collection {
  display: flex;
  flex-direction: column;
}

.button-group {
  height: 100px;
  display: flex;
  justify-content: space-evenly;
  border: 2px solid red;
}

.button-name {
  color: #000;
  font-weight: bold;
  font-size: 20px;
  border: 1px solid #bbb;
  outline: none;
  width: 30%;
  cursor: pointer;
}